* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #12d27c;
  --white: #fff;
  --light-green: #a8ff36;
  --black: #000;
  --color-form: #f5f5f5;
}
/* linear gradiente #51850C #A8FF36 */

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: var(--white);
}
.btn {
  background-color: var(--color-green);
  border: none;
  border-radius: 60px;
  padding: 0.75rem 2.25rem;

  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--black);

  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--light-green);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 10rem;
}

.back-white {
  background-color: var(--white);
}

/* HEADER */
.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  cursor: pointer;
  animation: rotateAndReturn 2s ease-in-out infinite;
}
.logo img:hover {
  transform: rotate(15deg);
}
nav ul {
  display: flex;
  gap: 4rem;
}
nav ul li {
  font-size: 1.125rem;
  list-style: none;
}
li a:hover {
  color: var(--color-green);
}

/* HERO*/
.hero-content {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 0 10rem 5rem;
}
.hero-text {
  width: 31rem;
  color: var(--white);
}
.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.hero-text p {
  font-size: 1.37rem;
  line-height: 26px;
  margin-block: 2rem;
}
.hero-img {
  position: relative;
  width: 27rem;
}
.hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 36px;
}
.hero-img_gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  right: -90px;
  background: linear-gradient(#51850c, #a8ff36);
  transform: rotate(6deg);
  border-radius: 36px;
  z-index: -1;
}
.hero-text .btn {
  font-weight: 600;
}

/* ABOUT */
.about {
  display: flex;
  padding-block: 6rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.about img {
  width: 29rem;
}
.about-text {
  width: 36rem;
}
.about-text h2 {
  font-size: 2.25rem;
  font-weight: 500;
}
.about-text p {
  font-size: 1.2rem;
  line-height: 30px;
  margin-block: 1.5rem;
}

/* SERVICES */
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service h2 {
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.service-content {
  display: flex;
  gap: 2rem;
}
.img-right img {
  width: 100%;
  height: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
}
.cards .card {
  width: clamp(260px, 24vw, 320px);
  height: auto;
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  align-items: center;
  padding: 1.7rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.cards .card:hover {
  transform: translateY(-8px);
}

.card > img {
  background-color: var(--black);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 8px;
}
.card h3 {
  font-size: 1.37rem;
}
.card p {
  width: 85%;
  font-size: 0.875rem;
}

/* PORTFOLIO */
.portfolio {
  display: block;
  padding-block: 6rem;
}
.portfolio h4 {
  font-size: 2rem;
  margin-block: 1rem;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.thumbnails img {
  width: 350px;
  height: 290px;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.thumbnails img:hover {
  opacity: 0.7; /* deixa a imagem translúcida, revelando o fundo branco */
  transform: scale(1.05);
}

/* PRICING */
.pricing form {
  max-width: 1120px;
  height: 750px;
  background-color: var(--color-form);
  border-radius: 22px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.25);
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.375rem;
}
.form-group {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.form-group label {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form-name,
.form-email,
.form-project,
.form-budget,
.textarea {
  display: flex;
  flex-direction: column;
}
input,
select,
textarea {
  font-size: 1.25rem;
  color: #575757;
  border: none;
  outline: none;
  border-radius: 11px;
}
.form-group input {
  width: 35.5rem;
  height: 4rem;
  padding: 1.375rem;
}
input::placeholder,
textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
}
.input-sobrepor {
  margin-left: -80px;
}
select {
  width: 18rem;
  height: 4rem;
  padding: 1.2rem;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
select option {
  font-size: 1.3rem;
}
.form-group .form-select {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-group textarea {
  width: 67rem;
  height: 22rem;
  padding: 1.375rem;
  resize: none;
}

.pricing button {
  background-color: var(--light-green);
  border: none;
  border-radius: 10px;
  padding: 0.75rem 2.25rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--black);
}
.pricing button:hover {
  background-color: var(--color-green);
}
.faq h4,
.pricing h4 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

/* FAQ */
.faq-list details {
  margin: 8px 0;
}
.faq-list details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
details[open] summary {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
details[open] p {
  background-color: var(--black);
  color: var(--white);
  padding: 1.125rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
details summary::after {
  content: '⌵'; /* seta para baixo */
  position: absolute;
  right: 1rem;
  top: 12px;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
details[open] summary::after {
  content: '⌵';
  background-color: var(--light-green);
  color: var(--black);
  transform: rotate(180deg);
}

/* SOCIAIS*/
.sociais {
  color: var(--white);
}
.sociais h5 {
  font-size: 2rem;
}
.sociais p {
  font-size: 1rem;
  line-height: 30p;
}
.sociais img {
  margin: 1rem 1rem 2rem 0;
  cursor: pointer;
  transition: transform 0.3s;
}
.sociais img:hover {
  transform: scale(1.2);
}

/* FOOTER*/
.footer {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}
.footer .copyright {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
